* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Quicksand", sans-serif;
}

.quicksand-font {
    font-family: "Quicksand", sans-serif;
}

.raleway-font {
    font-family: "Raleway", sans-serif;
}

/*  Navbar portion  */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo img {
    width: 35px;
}

.nav-links {
    display: flex;
    gap: 30px;
    list-style: none;
}

.nav-links a {
    text-decoration: none;
    font-weight: bold;
}

.nav-links li:nth-child(1) a {
    color: #FEA301;
}

.nav-links li:nth-child(2) a {
    color: #01ACFD;
}

.nav-links li:nth-child(3) a {
    color: #05D4DF;
}

.nav-links li:nth-child(4) a {
    color: #5D58EF;
}

.contact-btn {
    padding: 8px 16px;
    width: 100%;
    max-width: 197px;
    color: white;
    font-size: 20px;
    font-weight: 400;
    background-color: #FEA301;
    border-radius: 12px;
    border: none;


}

.menu-bar {
    display: none;
    font-size: 24px;
}